#data output from raw data preprocess
data_preprocess/stats/
data_preprocess/tmp/
data_preprocess/data/
data_preprocess/embs/
data_preprocess/processed/

#raw data folder
data_preprocess/raw_data/

#虛擬環境
.venv/
__pycache__/
*.pyc
.DS_Store